# what does unaccounted for gas mean?

What does the value in `PERCENT_UNACC_GAS` mean?

In [1]:
import pandas as pd

In [13]:
years = ['./annual_gas_distribution_2010_present/annual_gas_distribution_%s.xlsx' % y for y in range(2010, 2017)]

In [54]:
all = pd.concat([pd.read_excel(f) for f in years])

In [62]:
cols = ['REPORT_YEAR',
 'REPORT_NUMBER',
 'SUPPLEMENTAL_NUMBER',
 'OPERATOR_NAME',
 'OPERATOR_ID','OPERATOR_TYPE', 'KNOWN_LEAKS', 'PERCENT_UNACC_GAS']

in 2016, the "TRI - COUNTY NATURAL GAS" (`OPERATOR_ID` == 19641) agency reported an unaccounted gas percentage at 65.90%. that number seems really high, why is it like that?

In [66]:
tri = all[all['OPERATOR_ID'] == 19641]
tri[['REPORT_YEAR','REPORT_NUMBER','OPERATOR_NAME','OPERATOR_ID','OPERATOR_TYPE', 'KNOWN_LEAKS', 'PERCENT_UNACC_GAS']]

,REPORT_YEAR,REPORT_NUMBER,OPERATOR_NAME,OPERATOR_ID,OPERATOR_TYPE,KNOWN_LEAKS,PERCENT_UNACC_GAS
526,2010,20110532,TRI - COUNTY NATURAL GAS,19641,NaN,0,0.00
526,2011,20120570,TRI - COUNTY NATURAL GAS,19641,NaN,0,0.27
459,2012,20130471,TRI - COUNTY NATURAL GAS,19641,NaN,0,0.00
666,2013,20142180,TRI - COUNTY NATURAL GAS,19641,NaN,0,0.00
1002,2014,20154022,TRI - COUNTY NATURAL GAS,19641,NaN,0,0.00
812,2015,20165371,TRI - COUNTY NATURAL GAS,19641,Municipal Owned,0,0.00
1045,2016,20177099,TRI - COUNTY NATURAL GAS,19641,Municipal Owned,19,65.90

looks like they don't normally have much unaccounted for gas, but there were 19 reported leaks. maybe that contributed to a lot of unnacounted for gas.

in 2016, the "NEW SUMMERFIELD GAS CO" (`OPERATOR_ID` == 13390) agency reported an unaccounted gas percentage at 57.38%, the second highest that year. what is that about?

In [68]:
summerfield = all[all['OPERATOR_ID'] == 13390]
summerfield[['REPORT_YEAR','REPORT_NUMBER','OPERATOR_NAME','OPERATOR_ID','OPERATOR_TYPE', 'KNOWN_LEAKS', 'PERCENT_UNACC_GAS']]

,REPORT_YEAR,REPORT_NUMBER,OPERATOR_NAME,OPERATOR_ID,OPERATOR_TYPE,KNOWN_LEAKS,PERCENT_UNACC_GAS
1140,2010,20111149,NEW SUMMERFIELD GAS CO,13390,NaN,12,14.60
71,2011,20120092,NEW SUMMERFIELD GAS CO,13390,NaN,0,10.76
778,2012,20130793,NEW SUMMERFIELD GAS CO,13390,NaN,4,14.56
122,2013,20141631,NEW SUMMERFIELD GAS CO,13390,NaN,0,8.39
476,2014,20153493,NEW SUMMERFIELD GAS CO,13390,NaN,0,11.11
1432,2015,20165998,NEW SUMMERFIELD GAS CO,13390,Municipal Owned,0,24.69
1345,2016,20177399,NEW SUMMERFIELD GAS CO,13390,Municipal Owned,0,57.38

this is interesting, there doesn't seem to be as strong of a relationship between unaccounted for gas and known leaks. what happened in 2015 and 2016 where there were no leaks but a yearly doubling of unaccounted for gas?

In [70]:
tri[['PREPARERS_NAME', 'PREPARERS_TITLE', 'PREPARERS_EMAIL', 'PREPARERS_PHONE']]

,PREPARERS_NAME,PREPARERS_TITLE,PREPARERS_EMAIL,PREPARERS_PHONE
526,Tim Franklin,"Asst. Manager, MGAG, SRCS",tfranklin@gasauthority.com,(770) 317-6878
526,christopher cawley,Regulatory Comliance Analyst,ccawley@gasauthority.com,(770) 313-8232
459,christopher cawley,agent,ccawley@gasauthority.com,(770) 313-8232
666,christopher cawley,agent,ccawley@gasauthority.com,(770) 313-8232
1002,christopher cawley,agent,ccawley@gasauthority.com,(770) 313-8232
812,christopher cawley,agent,ccawley@gasauthority.com,(770) 313-8232
1045,christopher cawley,agent,ccawley@gasauthority.com,(770) 313-8232

In [71]:
summerfield[['PREPARERS_NAME', 'PREPARERS_TITLE', 'PREPARERS_EMAIL', 'PREPARERS_PHONE']]

,PREPARERS_NAME,PREPARERS_TITLE,PREPARERS_EMAIL,PREPARERS_PHONE
1140,Julian Emerson,NaN,lnipp@newsummerfield.us,(903) 726-3651
71,Julian Emerson,utility director,jemerson@newsummerfield.us,(903) 726-3651
778,Julian Emerson,operator,jemersom@newsummerfield.us,(903) 726-3651
122,Julian Emerson,operator,lnipp@newsummerfield.us,(903) 726-3651
476,Julian Emerson,operator,jemerson@newsummerfield.us,(903) 726-3651
1432,Julian Emerson,operator,jemerson@newsummerfield.us,(903) 726-3651
1345,Julian Emerson,operator,jemerson@newsummerfield.us,(903) 726-3651